# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore CSV files (user-submitted data)
*.csv

*.html
# Ignore the personal configuration file
config.json

# Ignore notes and database plan which are for my own reference
notes.ipynb
database_plan.png